/* 
------------Attribute selector-

Select all the input elements where the type attribute is set to "text".

*/
body{
    background-color: #fefae0;
}

button{
    font-size: 30px;
    background-color: #bde0fe;
}

h1, h2{
    color: #264653;
}

#signup{
    background-color: #003049;
    color: #eae2b7 ;
}

span{
    color: #457b9d;
}

.tag{
    background-color: #e76f51;
    color: #fefae0;
    font-size: 16px;
    letter-spacing: 5px;
}

li a{
    color: #d62828;
    text-decoration: none;
}

span a{
    color: #003049;
}

.post a{
    color: #003049;
}

footer a{
    color: #d62828;
}

input + button{
    background-color: palegoldenrod;
}

h2 + button{
    color: #14213d;
    background-color: #fca311;
    font-size: 20px;
}

footer > a{
    color: black;
}

/* 
Syntax-

input[type="text"]{
    width: 300px;
    color: yellow;
}

It only affects the input whose type is text.
*/
input[type="password"]{
    color: greenyellow;
}


/* 
Can select by any attribute.
*/
/* section[class = "post"]{
    background-color: purple;
} */

/* 
Selects the section only with the class "post"
*/
section.post{
    background-color: orangered;
}

/* 
selecting the anchor tag whose href contains a specific word.
Syntax-

a[href*="google"]{

}
*/
a[href*="google"]{
    color: magenta;
}


